
.brand{
display: block;
max-width:230px;
max-height:95px;
width: auto;
height: auto;
}
.nav-link{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}
#footer{

  background-color: #5d5d5a;
  text-align: center;
  color: white;
}
.social-icon {
  margin: 20px 10px;
}
.foot{
  position: absolute;
   right: 0;
   bottom: 0;
   left: 0;

}
@media (max-width: 1028px) {

  .foot{
    position:static;
     right: 0;
     bottom: 0;
     left: 0;

  }
}
